body {
    margin: 0;
    display: grid;
    background: #fff;
    min-height: 100vh;
    grid-auto-flow :column;
    place-content: start center;
}

img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

